@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif !important;
}
body {
  margin: 0;
}

/* Mobile (Portrait) */
@media (max-width: 480px) {
  /* Стили под мобильники в портретной ориентации */
}

/* Mobile (Landscape) */
@media (max-width: 767px) {
  /* Стили под мобильники в альбомной ориентации */
  .category-container {
    flex-direction: column !important;
  }
  .right-column {
    width: 100% !important;
    margin-top: 20px;
  }
}

/* Tablets и маленькие лаптопы */
@media (min-width: 768px) and (max-width: 991px) {
  /* Стили под планшеты и компактные устройства */
}

/* Desktop */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Стили под средние десктопы */
}

/* Large Desktop */
@media (min-width: 1200px) {
  /* Стили под большие мониторы */
}
