.submit-btn {
  padding: 10px;
  background-color: #212529;
  border: none;
  border-radius: 10px;
  color: #fff;
  margin-top: 10px;
  width: 100%;
}

.form-label img {
  width: 88px;
  height: 88px;
}

.form-control.color-picker {
  height: 60px;
}

.category-fields {
  margin-bottom: 10px;
}
